openapi: 3.0.0

info:
    title: MN Konveksi API
    version: 1.0.0
    description: Dokumentasi REST API MN Konveksi

servers:
    - url: https://be-mn-konveksi.vercel.app
      description: Production Server

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

tags:
    - name: Auth
    - name: User
    - name: Produk
    - name: Pesanan
    - name: Transaksi

paths:
    # =========================
    # AUTH
    # =========================
    /api/auth/register:
        $ref: './paths/auth.yaml#/register'

    /api/auth/login:
        $ref: './paths/auth.yaml#/login'

    /api/auth/me:
        $ref: './paths/auth.yaml#/me'

    /api/auth/logout:
        $ref: './paths/auth.yaml#/logout'

    # =========================
    # USER (ADMIN)
    # =========================
    /api/admin/users:
        $ref: './paths/user.yaml#/adminUsers'

    /api/admin/users/{id}:
        $ref: './paths/user.yaml#/adminUserById'

    # =========================
    # PRODUK
    # =========================
    /api/produk:
        $ref: './paths/produk.yaml#/produk'

    /api/produk/{id}:
        $ref: './paths/produk.yaml#/produkById'

    # =========================
    # PESANAN
    # =========================
    /api/pesanan:
        $ref: './paths/pesanan.yaml#/pesanan'

    /api/pesanan/{id}:
        $ref: './paths/pesanan.yaml#/pesananById'

    /api/pesanan/{id}/status:
        $ref: './paths/pesanan.yaml#/pesananStatus'

    /api/pesanan/me/summary:
        $ref: './paths/pesanan.yaml#/pesananSummaryUser'

    /api/pesanan/admin/summary:
        $ref: './paths/pesanan.yaml#/pesananSummaryAdmin'

    # =========================
    # TRANSAKSI
    # =========================
    /api/transaksi/create:
        $ref: './paths/transaksi.yaml#/transaksiCreate'

    /api/transaksi/webhook:
        $ref: './paths/transaksi.yaml#/transaksiWebhook'
