openapi: 3.0.0

info:
    title: MN Konveksi API
    version: 1.0.0
    description: Dokumentasi REST API MN Konveksi

servers:
    - url: https://be-mn-konveksi.vercel.app
      description: Production Server

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

tags:
    - name: Auth
    - name: Produk
    - name: Pesanan
    - name: Transaksi

paths:
    # =========================
    # AUTH
    # =========================
    /api/auth/register:
        $ref: './paths/auth.yaml#/register'

    /api/auth/login:
        $ref: './paths/auth.yaml#/login'

    /api/auth/me:
        $ref: './paths/auth.yaml#/me'

    /api/auth/logout:
        $ref: './paths/auth.yaml#/logout'

    # =========================
    # PRODUK
    # =========================
    /api/produk:
        $ref: './paths/produk.yaml#/produk'

    /api/produk/{id}:
        $ref: './paths/produk.yaml#/produkById'

    # =========================
    # PESANAN
    # =========================
    /api/pesanan:
        $ref: './paths/pesanan.yaml#/pesanan'

    # =========================
    # TRANSAKSI
    # =========================
    /api/transaksi/create:
        $ref: './paths/transaksi.yaml#/create'
